#edit-service-component {
  position: relative;

  mat-card {
    margin-top: 32px;
  }

  .input-row {
    display: flex;
    align-items: center;

    p {
      width: 30%;
    }

    mat-form-field, mat-slider {
      width: 70%;
    }
  }

  .save-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
