<div id="create-service-component">
  <form [formGroup]="formGroup">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Service Info</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="input-row">
          <p class="mat-subheading-1">Service Name</p>
          <mat-form-field appearance="outline">
            <mat-label>Service Name</mat-label>
            <input matInput placeholder="Service Name" formControlName="name">
          </mat-form-field>
        </div>

        <div class="input-row">
          <p class="mat-subheading-1">Service Type</p>
          <mat-form-field appearance="outline">
            <mat-label>Service Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="HTTP">HTTP</mat-option>
              <mat-option value="ICMP_PING">ICMP Ping</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-row">
          <p class="mat-subheading-1">Check Interval</p>
          <mat-form-field appearance="outline">
            <mat-label>Check Interval</mat-label>
            <input matInput type="number" min="30" max="1800" placeholder="Service Name"
                   formControlName="checkIntervalInSeconds">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Request Details</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="input-row">
          <p class="mat-subheading-1">Service Endpoint</p>
          <mat-form-field appearance="outline">
            <mat-label>Service Endpoint</mat-label>
            <input matInput placeholder="Service Endpoint"
                   formControlName="endpoint">
          </mat-form-field>
        </div>

        <div class="input-row" *ngIf="getServiceType() === 'ICMP_PING'">
          <p class="mat-subheading-1">Request Timeout</p>
          <mat-form-field appearance="outline">
            <mat-label>Request Timeout</mat-label>
            <input matInput type="number" min="1" max="180" placeholder="Request Timeout"
                   formControlName="requestTimeoutInSeconds">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Notification Options</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="input-row">
          <p class="mat-subheading-1">Notify after failures</p>
            <mat-slide-toggle formControlName="enableNotifications"></mat-slide-toggle>
        </div>

        <div class="input-row">
          <p class="mat-subheading-1">Notify after failures</p>
          <mat-form-field appearance="outline">
            <mat-label>Notify after failures</mat-label>
            <input matInput type="number" min="1" max="180" placeholder="Notify after failures"
                   formControlName="notifyAfterNumberOfFailures">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
