<mat-card id="notifier-settings-component" *ngIf="_notifier && notifierFormGroup">
  <mat-card-header>
    <mat-card-title>{{_notifier.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="notifierFormGroup">
      <div *ngFor="let form of _notifier.form" class="input-row">
        <p class="mat-subheading-1">{{form.title}}</p>
        <mat-slide-toggle *ngIf="form.type === 'switch'"
                          [formControlName]="form.formControlName"></mat-slide-toggle>
        <mat-form-field
          *ngIf="form.type === 'text' || form.type === 'number' || form.type === 'password' || form.type === 'textarea'">
          <mat-label>{{form.title}}</mat-label>
          <input matInput *ngIf="form.type !== 'textarea'"
                 [type]="form.type"
                 [placeholder]="form.placeholder"
                 [formControlName]="form.formControlName"
                 [required]="form.required">
          <textarea matInput *ngIf="form.type === 'textarea'"
                    [placeholder]="form.placeholder"
                    [formControlName]="form.formControlName"
                    [required]="form.required"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-raised-button
            (click)="testUpTemplate()"
            [disabled]="!this.notifierFormGroup.valid">
      Test up message
    </button>

    <button mat-raised-button
            (click)="testDownTemplate()"
            [disabled]="!this.notifierFormGroup.valid">
      Test down message
    </button>

    <button mat-raised-button color="accent"
            (click)="updateNotifier()"
            [disabled]="!this.notifierFormGroup.valid">
      Save
    </button>
  </mat-card-actions>
</mat-card>
