#settings-view {
  display: flex;

  .notifiers-list {
    flex-grow: 2;
  }

  .notifier-entry:hover {
    cursor: pointer;
  }

  .notifiers-form {
    flex-grow: 8;
  }

  .input-row {
    display: flex;
    align-items: center;

    p {
      width: 30%;
    }

    mat-form-field, mat-slider {
      width: 70%;
    }
  }
}
