<div id="settings-view">
  <div class="notifiers-list">
    <mat-selection-list [multiple]="false">
      <div mat-subheader>General</div>
      <mat-list-option class="notifier-entry" *ngFor="let notifier of (notifiers$ | async)"
                     (click)="notifierSelected(notifier)">
        {{notifier.name}}
      </mat-list-option>
      <div mat-subheader>Notifiers</div>
      <mat-list-option class="notifier-entry" *ngFor="let notifier of (notifiers$ | async)"
                     (click)="notifierSelected(notifier)">
        {{notifier.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="notifiers-form">
   <app-notifier-settings *ngIf="selectedNotifier" [notifier]="selectedNotifier"></app-notifier-settings>
  </div>
</div>
