<div id="services-component">
  <div class="create-button-container">
    <button mat-raised-button color="primary" (click)="onCreateClick()">Create</button>
  </div>
  <table mat-table [dataSource]="dataSource$" class="mat-elevation-z2">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element"> Online</td>
    </ng-container>

    <ng-container matColumnDef="visibility">
      <th mat-header-cell *matHeaderCellDef> Visibility</th>
      <td mat-cell *matCellDef="let element"> Public</td>
    </ng-container>

    <ng-container matColumnDef="failures">
      <th mat-header-cell *matHeaderCellDef> Failures</th>
      <td mat-cell *matCellDef="let element"> 2</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onEditClick(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" (click)="onDeleteClick(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
