#base-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    overflow: scroll;
    padding: 8px;
  }

  @media (min-width: 768px) {
    .content {
      max-width: 1012px;
    }
  }
}
