#service-details-component {
  //height: 100%;

  mat-card {
    margin-top: 32px;
  }

  .time-range-container {

  }

  .time-range-form {
    display: flex;
    justify-content: space-evenly;
  }

  .chart-container {
    width: 100%;
    height: 500px;
  }
}
