#service-details-component {

  mat-card {
    margin-top: 32px;
  }

  .time-range-form {
    display: flex;
    justify-content: space-evenly;
  }

  .chart-container {
    width: 100%;
    height: 500px;
  }

  .no-entries-found {
    text-align: center;
  }

  .failures-table {
    width: 100%;
  }
}
