#dashboard-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;

  .service-card {
    width: 100%;
    //height: 330px;
    margin: 8px;
  }


  @media (min-width: 768px) {
    .service-card {
      width: 47%;
    }
  }

  @media (min-width: 1012px) {
    .service-card {
      width: 31%;
    }
  }
}
