name: Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      run:  |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git fetch
    - name: Increment version
      run: ./increment_version.sh $(cat version) > version
    - name: Create git tag
      run: git tag -a $(cat version) -m "Release new version $(cat version)"
    - name: Build the Docker image
      run: docker build -t koloooo/monhttp:$(cat version) -t koloooo/monhttp:latest .
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: koloooo/monhttp
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Push tag
      run: git push origin --tags
    - name: Checkout develop
      run: git checkout develop
    - name: Commit changes
      run: git commit -m "Update to version $(cat version)"
    - name: Add changes
      run: git add version
    - name: Push changes
      run: git push origin develop
