name: Release

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run:  |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git fetch
    - name: Set version env
      run: echo "VERSION=$(cat version)-SNAPSHOT" >> $GITHUB_ENV
    - name: Build the Docker image
      run: docker build -t koloooo/monhttp:$(cat version) .
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: koloooo/monhttp
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tags: "${{ env.VERSION }}"
